<h1>Mi cuenta es <%= @contador %></h1>
<form action="/incrementar" method="POST">
  <input type="hidden" name="contador" value="<%= @contador = @contador + 1 %>">
  <input type="submit" value="Suma!">
</form>
